
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Timeout Events</title>
    <style>
        .title{
            color: red;
            font-size: 2em;
            font-family: "Arial Black", Gadget, sans-serif;
        }
        .description{
            font-size: 1.2em;
            font-family: "Times New Roman", Times, serif;
        }
        .section{
            margin-top: 50px;
        }
        .section-title{
            font-size: 3em;
            text-align: center;
            font-family: Impact, Charcoal, sans-serif;
            display: block;
        }
    </style>

</head>

<body>

    {{content|safe}}

</body>

</html>
